.transition{
    transition: .25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.link-card-view{
    margin: 0 auto;
    width: 240px;
    min-width: 240px;
    max-width: 480px;
    background-color: aliceblue;
    padding: 16px;
    color: black;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.link-card-view .caedlink{
    text-decoration: none;
}
.link-card-view .title .toptitle h2{
    margin: 10px 0px;
}
.link-card-view .content{
    color: rgb(201, 201, 201);
}
.link-card-view:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    cursor: pointer;
}

.none-a-style{
    text-decoration: none;
}

.fix-bottom-bar{
    width: 100%;
    height: 50px;
    background-color: #000;
    position: fixed;
    bottom: 0;
    display: flex;
}
.textcolor-black{
    color:#000;
}
.textcolor-white{
    color: white;
}
.fix-bottom-bar .design{
    color:azure;
    line-height: 50px;
    margin: 0px 10px;
}

/* 加载动画 */
/* ################################################################## */
/* 加载动画样式 */
#loading-container {
    display: flex;
    flex-direction: column; /* 将内容放置在垂直方向 */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* 背景色可以根据需要自行修改 */
    z-index: 9999; /* 确保加载动画在最上层 */
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #3498db; /* 加载动画的颜色 */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

/* 加载动画下方文字样式 */
#loading-container p {
    margin-top: 10px; /* 调整文字与加载动画之间的距离 */
}

/* 旋转动画 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 隐藏加载动画当页面加载完成后 */
body.loaded #loading-container {
    display: none;
}