
.buttonhover{
  padding: 6px 5px 6px 5px;
    overflow: hidden;
    width: 40px;
    border-radius: 8px;
    height: 40px;
    transition: .25s;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: default;
}
.buttonhover:hover{
    padding: 6px 5px 4px 7px;
    overflow: hidden;
    width: 40px;
    border-radius: 8px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: default;
}
.mousehover{

    transition: .25s;
    transition-property: all;
    transition-duration: 0.18s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: default;
}
.mousehover:hover{
    background: rgba(255, 255, 255, 0.1);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.18s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: default;
}
.mousehover1{

    transition: .25s;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: default;
}
.mousehover1:hover{
    background: rgba(255, 255, 255, 0.1);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: default;
}
.search{
    background: rgba(255, 255, 255, 0.05);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: text;
    border-style:none;
  border-bottom:1px solid #bbbbbb;
}
.search:hover{
    background: rgba(255, 255, 255, 0.1);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: text;
}