@charset "utf-8";
/* CSS Document */

body{
  background-image:url("../bg/paperbg.png");
  background-repeat: repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-attachment:fixed;
}

main {
   flex: 1 0 auto;
}