body{
	max-width: 1440px;
	font-family: "Sansation","Lantinghei SC","Open Sans","Arial","Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei","SimSun",sans-serif;
	background-image: url("../Frameimage/background_1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bar-panel{
	background-image: url("../Frameimage/top_bar.png");
	background-repeat:no-repeat;
	box-sizing: border-box;
	position: relative;
	margin: 12px 0px;
    padding: 3px 8px;
	color: #fff;
	display: block;
	height: 30px;

}
.progress-bar-card{
	height: 160px;
	width: 400px;
    background-color: rgba(11,145,120,0.39);
	border-color: #fbaa29;
	outline: none;
	box-sizing:border-box;
	overflow: hidden;
}
.progress-bar-cardin{
	margin: 0 auto;
	padding: inherit;
	width: 1440px;
	background-size: 80px 80px;
	min-height: 160px;
	background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent,50%,rgba(255,255,255,0.15)50%,rgba(255,255,255,0.15)75%,transparent 75%,transparent);
	background-repeat: repeat;
	position: relative;
}
@keyframes progress-bar {
	0% {left:0px;}
	100% {left:-400px;}
}
.progress-bar-style1{
	animation: progress-bar 8s linear infinite;
}

