.AeyoWallpaper {
    width: 100%;
    height: 100%;
    background: url(../Aeyo/bg/Aeyo-bg.png) no-repeat center center;
    -moz-background-size: cover;
    /*背景图片拉伸以铺满全屏*/
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    max-height: 100%;
    max-width: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: consolas;
}


/* 弹出登陆框按钮 */

#login-header {
    text-align: center;
    height: 30px;
    line-height: 30px;
}

#login-header a {
    font-size: 24px;
    text-decoration: none;
    color: black;
}


/* 登陆框主体 */

.login {
    position: fixed;
    z-index: 9999;
    display: none;

margin: 0px;
    border: 1px solid gray;
}


/* 登陆框标题 */


/* 登陆表单 */

.login-input {
    margin: 20px 0px 30px 0px;
}

.login-input label {
    float: left;
    height: 35px;
    line-height: 35px;
    width: 90px;
    padding-left: 10px;
    text-align: right;
    font-size: 14px;
}

.login-input input.list-input {
    height: 35px;
    line-height: 35px;
    width: 350px;
    text-indent: 5px;
}


/* 登陆框登陆按钮 */

.loginSubmit {
    width: 100%;
    height: 40px;
    text-align: center;
    border: 1px solid gray;
    margin-left: 120px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.loginSubmit:hover {
    width: 100%;
    height: 40px;
    text-align: center;
    border: 3px solid gray;
    background-color: white;
    margin-left: 120px;
    transition: .25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}


/* 遮盖层 */

.bg {
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    opacity: 0.3;
    -webkit-opacity: 0.3;
    -moz-opacity: 0.3;
    display: none;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

.sglable {
    position: fixed;
    z-index: 9999;
    /* 这里要注意绝对定位的盒子怎么在屏幕显示居中 */
    left: 50%;
    margin-left: -600px;
    margin-top: 142px;
    border: 1px solid gray;
}
* {
    padding: 0;
    margin: 0;
}

.DailyWallpaper {
    width: 100%;
    height: 100%;
    background: url(https://api.sunweihu.com/api/bing1/api.php) no-repeat center center fixed;
    -moz-background-size: cover;
    /*背景图片拉伸以铺满全屏*/
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    /* filter: blur(50px); */
}

section::after {
    content: '';
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    /* filter: blur(50px); */
}

section .box {
    position: relative;
    z-index: 100;
}

section .box .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    backdrop-filter: blur(50px);
    /* -webkit-backdrop-filter: blur(50px); */
    -moz-backdrop-filter: blur(60px);
    /* filter: grayscale(50%); */
    /* filter: opacity(50%) */
    /* filter: blur(2px); */
}

section .box .container .dycalendar {
    width: 100%;
    padding: 20px;
}

section .box .container .dycalendar table {
    width: 100%;
    margin-top: 40px;
}

.dycalendar-month-container .dycalendar-body table tr td {
    color: #fff;
    cursor: pointer;
}

.dycalendar-month-container .dycalendar-body table tr:nth-child(1) td {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    font-weight: 400;
}

.dycalendar-month-container .dycalendar-body table tr td:hover {
    background-color: #fff;
    border-radius: 2px;
    color: #000;
}

.dycalendar-month-container .dycalendar-target-date,
.dycalendar-month-container .dycalendar-today-date {
    background-color: #fff;
    color: #000 !important;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn,
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    width: 44px;
    height: 33px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.dycalendar-month-container .dycalendar-span-month-year {
    color: #fff;
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}





.glass_card-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.glass_card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.glass_card-container .glass_card-box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
}

.glass_card-container .glass_card-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.glass_card-container .glass_card-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    filter: blur(30px);
    transition: 0.5s;
}

.glass_card-container .glass_card-box:nth-child(3):before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    transform: skewX(-15deg);
    transition: 0.5s;
}

.glass_card-container .glass_card-box:nth-child(3):after {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    transform: skewX(-15deg);
    filter: blur(30px);
    transition: 0.5s;
}

.glass_card-container .glass_card-box:hover:before,
.glass_card-container .glass_card-box:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

.glass_card-container .glass_card-box:nth-child(1)::before,
.glass_card-container .glass_card-box:nth-child(1):after {
    background-image: linear-gradient(315deg, #ffbc00, #ff0058);
}

.glass_card-container .glass_card-box:nth-child(2)::before,
.glass_card-container .glass_card-box:nth-child(2):after {
    background-image: linear-gradient(315deg, #03a9f4, #ff0058);
}

.glass_card-container .glass_card-box:nth-child(3)::before,
.glass_card-container .glass_card-box:nth-child(3):after {
    background-image: linear-gradient(315deg, #4dff03, #00d0ff);
}

.glass_card-container .glass_card-box .glass_card-span {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 20;
}

.glass_card-container .glass_card-box .glass_card-span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
}

.glass_card-container .glass_card-box:hover .glass_card-span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate {
    0%,
    100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}

.glass_card-container .glass_card-box .glass_card-.glass_card-span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    animation-delay: -1s;
}

.glass_card-container .glass_card-box:hover .glass_card-span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.glass_card-container .glass_card-box .glass_card-content {
    z-index: 1;
    position: relative;
    left: 0;
    color: #fff;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: 0.5s;
}

.glass_card-container .glass_card-box:hover .glass_card-content {
    left: -25px;
    padding: 60px 40px;
}

.glass_card-container .glass_card-box .glass_card-content h2 {
    font-size: 1.6em;
    color: #fff;
    margin-bottom: 10px;
}

.glass_card-container .glass_card-box .glass_card-content p {
    font-size: 1.4em;
    margin-bottom: 10px;
    line-height: 1.2em;
}

 