/* 透明纸背景 */

/* body {
    background-image: url("../bg/paperbg.png");
    background-repeat: repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-attachment: fixed; 
    } */


/* 每日壁纸背景 */

.DailyWallpaper {
    width: 100%;
    height: 100%;
    background: url(https://api.sunweihu.com/api/bing1/api.php) no-repeat center center fixed;
    position: fixed;
    z-index:-1;
    -moz-background-size: cover;
    /*背景图片拉伸以铺满全屏*/
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.SuChenWallpaper {
    width: 100%;
    height: 100%;
    background: url(../BackgroundImage/suchen_ymm_1.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    /*背景图片拉伸以铺满全屏*/
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.SuChenWallpaper1 {
    width: 100%;
    height: 100%;
    background: url(../BackgroundImage/ymm1.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    /*背景图片拉伸以铺满全屏*/
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bar-panel {
    background-image: url("../Frameimage/top_bar.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
    margin: 12px 0px;
    padding: 3px 8px;
    color: #fff;
    display: block;
    height: 30px;
}

.progress-bar-card {
    height: 160px;
    width: 400px;
    background-color: rgba(11, 145, 120, 0.39);
    border-color: #fbaa29;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
}

.progress-bar-cardin {
    margin: 0 auto;
    padding: inherit;
    width: 1440px;
    background-size: 80px 80px;
    min-height: 160px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent, 50%, rgba(255, 255, 255, 0.15)50%, rgba(255, 255, 255, 0.15)75%, transparent 75%, transparent);
    background-repeat: repeat;
    position: relative;
}

@keyframes progress-bar {
    0% {
        left: 0px;
    }
    100% {
        left: -400px;
    }
}

.progress-bar-style1 {
    animation: progress-bar 8s linear infinite;
}


/* 历史遗留：变白选择按钮*适用于毛玻璃界面 */

.glassfather {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
}

.glassfather:hover {
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(0px);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
}


/* 历史遗留：变白选择，鼠标指针无改动版本 */

.glassfather-nocurse {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.glassfather-nocurse:hover {
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(0px);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}


/* 毛玻璃效果合集 */

.glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
}

.glass1 {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}

.glass2 {
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(15px);
}

.glass3 {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(20px);
}

.glass4 {
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(25px);
}

.blackglass {
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
}

.blackglass1 {
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
}

.blackglass2 {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.blackglass3 {
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(20px);
}

.blackglass4 {
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(25px);
}
.blackglass5 {
    background: rgba(0, 0, 0, 0.76);
    backdrop-filter: blur(400px);
}

.grayglass1 {
    background: rgba(84, 110, 122, 0.15);
    backdrop-filter: blur(10px);
}

.grayglass2 {
    background: rgba(84, 110, 122, 0.25);
    backdrop-filter: blur(10px);
}

.grayglass3 {
    background: rgba(84, 110, 122, 0.35);
    backdrop-filter: blur(10px);
}

.grayglass4 {
    background: rgba(84, 110, 122, 0.45);
    backdrop-filter: blur(10px);
}


/* 毛玻璃效果合集结束 */


/* Windows10 fluentdesign 效果合集 */


/* Windows10-返回图标 */

.windows10-westicon {
    transition: .25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.windows10-westicon:hover {
    background-color: #1985DA;
    transition: .25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}


/* Windows10-UWP按键 */

.windows10-fluent-button {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
}

.windows10-fluent-button:hover {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(0px);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
}


/* Windows10-文字框 */

.windows10-fluent-textblock {
    border: grey solid 4px;
    background: rgba(0, 0, 0, 0.2);
    transition: .25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.buttomborder-white{
    border-bottom: gray solid 1px;
}



/*  */

.mdui-btn-raised{
    border-radius: 5px;
    }
    .mdui-dialog{
    border-radius: 10px;
    }
    .mdui-menu{
    border-radius: 10px;
    }
    .mdui-tooltip{
    border-radius: 20px;
    background-color: #EEEEEE;
    color:black;
    }
    /* @keyframes card{
    from {top: 64px;opacity: 0;}
    to {top: 0px;opacity: 1;}
    } */
    @keyframes card{
        0%{
            top: 64px;opacity: 0;
        }
        100%{
            top: 0px;opacity: 1;
        }
    }
    .mdui-card{
    border-radius: 10px;
    animation-name: card;
    animation-duration: 1s;
    }
    .mdui-drawer-list-item-active{
    border-radius: 0 20px 20px 0;
    background-color:#B9D1FF ;
    color:#448AFF;
    }
    .mdui-drawer-list-item{
    border-radius: 0 20px 20px 0;
    }
    footer{
    border-radius: 10px 10px 0 0;
    }
    @keyframes toleft{
    from {margin-left: 64px;opacity: 0;}
    to {}
    }
    @keyframes toright{
    from {margin-right: 64px;opacity: 0;}
    to {}
    }
    .toleft{
    animation-name: toleft;
    animation-duration: 0.5s;
    }
    .toright{
    animation-name: toright;
    animation-duration: 0.5s;
    }
    .mdui-btn,.opacity{
    animation-name: opacity;
    animation-duration: 1s;
    }
    @keyframes opacity{
    from  {opacity: 0;}
    to {opacity: 1;}
    }
    .title{
    animation-name: title;
    animation-duration: 1s;
    }
    @keyframes title{
    from {font-size: 15px;}
    to {}
    }
    .img{
    animation-name: img;
    animation-duration: 1s;
    }
    @keyframes img{
    from {margin-top: 32px;margin-bottom: 32px;}
    to {}
    }
    