
/* —————————————————————————————————————————————————————————————————————————————————————————————————————————————————— */
.suchen-animation1{
  background-image: linear-gradient(#ff5722,#ffc107);
  position: relative;
  height: 100vh;
  overflow: hidden;

}
.triangle ul li{
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160px solid rgb(195, 195, 195,0.5);
  position: absolute;
  list-style: none;
  opacity: 0;
  rotate: (45deg);
  bottom: -20vh;
}
.triangle li{
  bottom: 0;
  left: 5vw;
  animation: triangle 6s linear infinite;
}
.triangle li:nth-child(2){
  bottom: 0;
  left: 85vw;
  animation-delay: 2s;
}
.triangle li:nth-child(3){
  bottom: 0;
  left: 20vw;
  animation-delay: 3s;
}
.triangle li:nth-child(4){
  bottom: 0;
  left: 65vw;
  animation-delay: 2.5s;
}
.triangle li:nth-child(5){
  bottom: 0;
  left: 80vw;
  animation-delay: 3s;
}
.triangle li:nth-child(6){
  bottom: 0;
  left: 50vw;
  animation-delay: 4s;
}
.triangle li:nth-child(7){
  bottom: 0;
  left: 8vw;
  animation-delay: 4s;
}
.triangle li:nth-child(8){
  bottom: 0;
  left: 24vw;
  animation-delay: 5s;
}
.triangle li:nth-child(9){
  bottom: 0;
  left: 80vw;
  animation-delay: 4.5s;
}



@keyframes triangle {
  0%{
      opacity: 0.7;
      bottom: -30vh;
  }
  100%{
      opacity: -0.2;
      bottom: 100vh;
  }
}
/* —————————————————————————————————————————————————————————————————————— */

.triangle1 ul li{
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160px solid rgb(195, 195, 195,0.5);
  position: absolute;
  list-style: none;
  opacity: 0;
  rotate: (45deg);
  bottom: -20vh;
}
.triangle1 li{
  bottom: 0;
  left: 5vw;
  animation: triangle1 4s linear infinite;
}
.triangle1 li:nth-child(2){
  bottom: 0;
  left: 25vw;
  animation-delay: 0.5s;
}
.triangle1 li:nth-child(3){
  bottom: 0;
  left: 65vw;
  animation-delay: 3s;
}
.triangle1 li:nth-child(4){
  bottom: 0;
  left: 50vw;
  animation-delay: 1.8s;
}
.triangle1 li:nth-child(5){
  bottom: 0;
  left: 5vw;
  animation-delay: 2.5s;
}
.triangle1 li:nth-child(6){
  bottom: 0;
  left: 60vw;
  animation-delay: 2s;
}
.triangle1 li:nth-child(7){
  bottom: 0;
  left: 24vw;
  animation-delay: 2.2s;
}
.triangle1 li:nth-child(8){
  bottom: 0;
  left: 10vw;
  animation-delay: 1.5s;
}
.triangle1 li:nth-child(9){
  bottom: 0;
  left: 90vw;
  animation-delay: 4s;
}


@keyframes triangle1 {
  0%{
      opacity: 0.6;
      bottom: -30vh;
  }
  100%{
      opacity: -0.2;
      bottom: 100vh;
  }
}

/* —————————————————————————————————————————————————————————————————————— */

.triangle2 ul li{
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160px solid rgb(195, 195, 195,0.5);
  position: absolute;
  list-style: none;
  opacity: 0;
  rotate: (45deg);
  bottom: -20vh;
}
.triangle2 li{
  bottom: 0;
  left: 5vw;
  animation: triangle2 2s linear infinite;
}
.triangle2 li:nth-child(2){
  bottom: 0;
  left: 25vw;
  animation-delay: 0.5s;
}
.triangle2 li:nth-child(3){
  bottom: 0;
  left: 65vw;
  animation-delay: 0.8s;
}
.triangle2 li:nth-child(4){
  bottom: 0;
  left: 50vw;
  animation-delay: 1.8s;
}
.triangle2 li:nth-child(5){
  bottom: 0;
  left: 5vw;
  animation-delay: 1.8s;
}
.triangle2 li:nth-child(6){
  bottom: 0;
  left: 60vw;
  animation-delay: 1.8s;
}
.triangle2 li:nth-child(7){
  bottom: 0;
  left: 24vw;
  animation-delay: 1.8s;
}
.triangle2 li:nth-child(8){
  bottom: 0;
  left: 10vw;
  animation-delay: 1.5s;
}
.triangle2 li:nth-child(9){
  bottom: 0;
  left: 40vw;
  animation-delay: 2s;
}


@keyframes triangle2 {
  0%{
      opacity: 0.6;
      bottom: -30vh;
  }
  100%{
      opacity: -0.2;
      bottom: 100vh;
  }
}


/* —————————————————————————————————————————————————————————————————————— */

.triangle3 ul li{
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160px solid rgb(195, 195, 195,0.5);
  position: absolute;
  list-style: none;
  opacity: 0;
  rotate: (45deg);
  bottom: -20vh;
}
.triangle3 li{
  bottom: 0;
  left: 5vw;
  animation: triangle3 1s linear infinite;
}
.triangle3 li:nth-child(2){
  bottom: 0;
  left: 25vw;
  animation-delay: 0.6s;
}
.triangle3 li:nth-child(3){
  bottom: 0;
  left: 65vw;
  animation-delay: 0.2s;
}
.triangle3 li:nth-child(4){
  bottom: 0;
  left: 65vw;
  animation-delay: 0.7s;
}
.triangle3 li:nth-child(5){
  bottom: 0;
  left: 85vw;
  animation-delay: 0.1s;
}
.triangle3 li:nth-child(6){
  bottom: 0;
  left: 60vw;
  animation-delay: 0.8s;
}
.triangle3 li:nth-child(7){
  bottom: 0;
  left: 35vw;
  animation-delay: 0.5s;
}
.triangle3 li:nth-child(8){
  bottom: 0;
  left: 10vw;
  animation-delay: 0.8s;
}
.triangle3 li:nth-child(9){
  bottom: 0;
  left: 45vw;
  animation-delay: 0.1s;
}


@keyframes triangle3 {
  0%{
      opacity: 0.6;
      bottom: -30vh;
  }
  100%{
      opacity: -0.2;
      bottom: 100vh;
  }
}